*{
  margin: 0;
  padding: 0;
}

a{
  display: flex;
  font-size: x-large;
  margin-left: 100px;
  margin-top: 20px;
  text-align: center;
  
}
.driver{
  border: 1px solid black;
  width: 250px;
  height: 40px;
  font-size: xx-large;
  background-color:  rgb(225, 219, 230);
  justify-content: center;

}
.mechanic{
  border: 1px solid black;
  width: 250px;
  height: 40px;
  font-size: x-large;
  background-color: rgb(225, 219, 230);
  justify-content: center;


}